/*--- Auther - Rahul Sharma, tkdmaster.sharma@gmail.com ---*/

@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
  background-image: url(../img/background.jpg);
  background-repeat: repeat, no-repeat;
  background-size: cover;
  background-attachment: scroll, fixed;
  font-family: "Raleway";

}

.container{
  /*border: 1px solid green;*/
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.header{
  height: 4.5rem;
  line-height: 4.5rem;
  padding-left: 1.25rem;
  background-color: #f5f5f5;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  font-size: 18px;
  font-family: "Inconsolata";
}

.banner{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  height: 515px;
  text-align: center;
  padding-top: 15px;
}

.bannerTxt{
  margin-top: 8rem;
  color: #fff;
  padding: 1rem;
}

.bannerBtn{
  margin-top: 4rem;
  padding: 1rem 1.5rem;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: transparent;
}

.bannerBtn:hover{
  color: #FFD9AD;
}

.skills{
  text-align: center;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 30px;
  color: #656565;
  font-weight: lighter;
  margin: 0;
  vertical-align: baseline;
}

.icon ul{
  margin: 0;
  padding: 0;
}

.icon li{
  display: inline-block;
  margin: 1.2rem;
  font-size: 2rem;
  color: #656565;

}

.icon li:hover{
  color: #ee6588;
}


.title{
  color: #ee6588;
  padding: 30px 0 30px 0;
  font-size: 30px;
  font-weight: lighter;
}

.portfolio{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
  color: #656565;
  font-weight: lighter;
  margin: 0;
  vertical-align: baseline;
  background-color: #f5f5f5;
  background-image: linear-gradient(90deg, #f5f5f5, #fff);
}
.container .row {
    margin-left: 0;
    margin-right: 0;
}
.row{
  text-align: -webkit-center;
}

.projectBox{
  text-align: center;
  width: 202px;
  border: 1px solid #d0d0d0;
  padding-bottom: 5px;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.boxBtn{
  background-color: transparent;
  font-size: 12px;
  border: 1px solid #818181;
  border-radius: 2px;
}

.boxBtn:hover{
  color: #ee6588;
  background-color: transparent;
  border: 1px solid #ee6588;
  border-radius: 2px;
}

.projectBox h5{
  color: #323232;
  font-size: 20px;
  font-weight: bold;
}


.aboutTitle{
  color: #fff;
  padding: 30px 0 30px 0;
  font-size: 30px;
  font-weight: lighter;
}

.coffee{
  text-align: center;
  color: #fff;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 4px 30px 4px;
  background-color: #ee6588;
  background-image: linear-gradient(90deg, #ee6588, #f69560);
}

.btnn{
  margin: 25px 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 50px;
  width: 130px;
  font-size: 18px;
}

.btnn:hover{
  border: 1px solid #3d3d3d;
  color: #3d3d3d;
}


.about{
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  background-color: #937f8f;
  background-image: linear-gradient(90deg, #937f8f, #5a6284);
  padding: 15px 4px 0 4px;
}

.myPic{
  border: 5px solid #f8f8f8;
  border-radius: 90px;
  width: 150px;
  height: auto;
}

.socialLinks ul{
  margin: 0;
  padding:0;
}

.socialLinks ul li{
  display: inline-block;
  font-size: 40px;
  padding: 10px 10px 0 10px;
}

.socialLinks ul li a{
  color: rgba(255, 255, 255, 0.50);
}

.socialLinks ul li a:hover{
  color: #fff;
}

footer{
  color: #969696;
  height: 4.5rem;
  line-height: 4.5rem;
  padding-left: 1.25rem;
  background-color: #f5f5f5;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
